{% extends 'core/base.html' %}
{% load static %}

{% block title %}О преподавателе{% endblock %}

{% block content %}
    <!-- About section -->
    <div class="about-section d-flex my-5 align-items-center">
        <div class="photo-container">
            <img src="{{ teacher.photo.url }}" 
                alt="Фото преподавателя" 
                class="teacher-photo d-block">
        </div>

        <div class="info-container d-flex flex-column align-items-center text-center">
            <div class="info-line">{{ teacher.description }}</div>
        </div>
    </div>

    <!-- Features section -->
    <div class="features-section py-lg-5">
        <h2 class="section-title mb-5 text-center">Занятия со мной это</h2>

        <div class="d-flex flex-column gap-4 align-items-center">

            <div class="d-flex justify-content-center gap-5 flex-wrap">
                <div class="info-card d-flex gap-3 p-2">
                    <i class="bi bi-people-fill fs-1 flex-shrink-0"></i>
                    <div class="text-wrapper d-flex flex-column justify-content-center">
                        <h3 class="info-card-title m-0">Индивидуальный подход</h3>
                        <p class="info-card-text mt-1">
                            Каждому ученику разрабатывается персональная программа обучения
                        </p>
                    </div>
                </div>

                <div class="info-card d-flex gap-3 p-2">
                    <i class="bi bi-clock fs-1 flex-shrink-0"></i>
                    <div class="text-wrapper d-flex flex-column justify-content-center">
                        <h3 class="info-card-title m-0">Гибкий график</h3>
                        <p class="info-card-text mt-1">
                            Выбираем удобное время под расписание ученика
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-5 flex-wrap">
                <div class="info-card d-flex gap-3 p-2">
                    <i class="bi bi-journal-text fs-1 flex-shrink-0"></i>
                    <div class="text-wrapper d-flex flex-column justify-content-center">
                        <h3 class="info-card-title m-0">Современные материалы</h3>
                        <p class="info-card-text mt-1">
                            Использую актуальные пособия и цифровые технологии
                        </p>
                    </div>
                </div>

                <div class="info-card d-flex gap-3 p-2">
                    <i class="bi bi-award-fill fs-1 flex-shrink-0"></i>
                    <div class="text-wrapper d-flex flex-column justify-content-center">
                        <h3 class="info-card-title m-0">Высокий уровень</h3>
                        <p class="info-card-text mt-1">
                            Опыт и методики обеспечивают стабильные результаты
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Class structure section -->
    <div class="section-default py-lg-5">
        <h2 class="section-title mb-5 text-center">Как проходит занятие</h2>

        <div class="d-flex flex-row align-items-stretch flex-wrap flex-md-nowrap p-2">
            <div class="text-column md-3 flex-shrink-0 col-md-6">
                <div class="text-block">
                    <h3 class="mb-3">
                        Продуманная структура занятия играет большую роль в достижении качественных результатов после каждого посещения нашей школы.
                    </h3>

                    <h3 class="mb-1">
                        <i class="bi bi-1-circle me-2"></i>В начале всегда разминка
                    </h3>
                    <p class="info-card-text mb-2">
                        Это скороговорки, краткое обсуждение различных тем, физические упражнения, интерактивные игры и многое другое. Разминка помогает ученикам «переключиться» на иностранный язык и настроиться на дальнейшую продуктивную работу.
                    </p>

                    <h3 class="mb-1">
                        <i class="bi bi-2-circle-fill me-2"></i>Проверка домашнего задания
                    </h3>
                    <p class="info-card-text mb-2">
                        Ученики задают вопросы, которые могли возникнуть при выполнении домашнего задания. Таким образом преподаватель понимает, насколько хорошо был усвоен материал прошлого занятия и над чем нужно поработать дополнительно.
                    </p>

                    <h3 class="mb-1">
                        <i class="bi bi-3-circle me-2"></i>Основная часть
                    </h3>
                    <p class="info-card-text mb-2">
                        Разбираем новую тему по учебной программе. Здесь присутствует обязательный этап — закрепление материала, в ходе которого преподаватели применяют карточки, интерактивные задания, настольные игры и многое другое.
                    </p>

                    <h3 class="mb-1">
                        <i class="bi bi-4-circle-fill me-2"></i>Подведение итогов
                    </h3>
                    <p class="info-card-text mb-2">
                        В конце занятия преподаватель просит учеников рассказать, что нового они узнали, что было самым интересным, поделиться своими эмоциями и пожеланиями. После этого обсуждается новое домашнее задание.
                    </p>
                </div>
            </div>

            <div class="image-column col-md-6 d-flex flex-column">
                <div class="image-preview d-flex align-items-center justify-content-center">
                    <img id="preview-img" src="" alt="Превью" class="class-structure-image object-fit-contain">
                </div>

                <div class="image-thumbnails-wrapper">
                <button class="thumb-nav left" aria-label="prev slide" type="button"><i class="bi bi-arrow-bar-left"></i></button>

                <div class="image-thumbnails-viewport">
                    <div class="image-thumbnails">
                        {% for img in gallery_images %}
                        <a href="#" class="thumb">
                            <img src="{{ img.image.url }}" alt="{{ img.title }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <button class="thumb-nav right" aria-label="next slide" type="button"><i class="bi bi-arrow-bar-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Price section -->
    <div class="container">
        <div id="services" class="price-section py-lg-5">
            <h2 class="section-title text-center mb-5">СТОИМОСТЬ ЗАНЯТИЙ</h2>
            <div class="row justify-content-center">

                <div class="col-md-3 text-center">
                    <div class="price-card h-100">
                        <div class="icon-wrapper mb-3">
                            <div class="icon-circle mx-auto mb-2">
                                <i class="bi bi-person fs-2"></i>
                            </div>
                            <h3 class="service-title mb-2">ИНДИВИДУАЛЬНО</h3>
                        </div>
                        <h2 class="price mb-1">от 1000 руб.</h2>
                        <p class="details text-muted" style="font-family:'Raleway'; font-weight:600; font-size:0.95rem;">
                            от 8000 руб. за месяц,<br>8 занятий по 60 минут
                        </p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="price-card h-100">
                        <div class="icon-wrapper mb-3">
                            <div class="icon-circle mx-auto mb-2">
                                <i class="bi bi-people-fill fs-2"></i>
                            </div>
                            <h3 class="service-title mb-2">В МИНИ-ГРУППЕ</h3>
                        </div>
                        <h2 class="price mb-1">от 800 руб.</h2>
                        <p class="details text-muted" style="font-family:'Raleway'; font-weight:600; font-size:0.95rem;">
                            от 6400 руб. за месяц,<br>8 занятий по 60 минут
                        </p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="price-card h-100">
                        <div class="icon-wrapper mb-3">
                            <div class="icon-circle mx-auto mb-2">
                                <i class="bi bi-people fs-2"></i>
                            </div>
                            <h3 class="service-title mb-2">В ГРУППЕ</h3>
                        </div>
                        <h2 class="price mb-1">от 800 руб.</h2>
                        <p class="details text-muted" style="font-family:'Raleway'; font-weight:600; font-size:0.95rem;">
                            6400 руб. за месяц,<br>8 занятий по 60 минут
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Map -->
    <div class="map-section py-lg-5">
        <h2 class="section-title mb-5 text-center">Где меня найти</h2>
        <h3 class="text-center mb-4">Офис на Шевченко (г. Томск, ул. Шевченко, 41ас3)</h3>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2203.663093257118!2d84.98818407672303!3d56.473564936246824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4326933af46026bf%3A0xd4be9ba91d950054!2z0YPQuy4g0KjQtdCy0YfQtdC90LrQviwgNDHQsCDRgdGC0YAzLCDQotC-0LzRgdC6LCDQotC-0LzRgdC60LDRjyDQvtCx0LsuLCA2MzQwMjE!5e0!3m2!1sru!2sru!4v1757177963869!5m2!1sru!2sru" 
            width="100%" 
            height="450" 
            style="border:0;" 
            allowfullscreen 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
{% endblock %}
