{% extends 'core/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="video-section my-5 text-center">
                {% if video %}
                    <div class="ratio ratio-16x9">
                        <iframe src="{{ video.embed_url }}" 
                                frameborder="0" 
                                allowfullscreen 
                                allow="autoplay; encrypted-media">
                        </iframe>
                    </div>
                {% else %}
                    <p>Видео пока не добавлено.</p>
                {% endif %}
            </section>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mb-2">
                <h3>Обкашлять вопросики</h3>
                <p>Пишите мне в социальные сети или через форму обратной связи.</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fab fa-vk fs-3 me-1"></i>
                        Вконтакте: <a href="https://vk.com/amantesan" target="_blank">vk.com/amantesan</a>
                    </li>
                    <li>
                        <i class="bi bi-instagram fs-4 me-1"></i>
                        Instagram: <a href="https://instagram.com/_anastasia_wwww" target="_blank">instagram.com/_anastasia_wwww</a>
                    </li>
                </ul>
                <p><i class="bi bi-telegram fs-4 me-1"></i>Telegram/WhatsApp: +7 (926) 123-45-67</p>
            </div>

            <div class="form-section col-md-6">
                <form method="post" action="{% url 'contacts' %}" class="p-0">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.client_name }}
                    </div>
                    <div class="mb-3">
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.phone_number }}
                    </div>
                    <div class="mb-3">
                        {{ form.message }}
                    </div>
                    <button type="submit" class="btn btn-custom">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}