{% extends 'core/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="form-review-container py-lg-3">
    <div class="review-form-container">
        <h1>Оставить отзыв</h1>

        <form method="post" action="{% url 'create_review' %}" class="review-form">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.client_name }}
            </div>
            <div class="mb-3">
                {{ form.text }}
            </div>
            <div class="mb-3">
                {{ form.rating }}
            </div>
            <button type="submit" class="btn-submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
