<div class="page-footer-section py-4">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="footer-left">
            &copy; Yes English Club, Анастасия, 2025 г.
        </div>

        <div class="footer-right d-flex gap-3 align-items-center">
            <a href="https://vk.com/english.yesclub" target="_blank" class="text-decoration-none text-light d-flex align-items-center">
                <i class="fab fa-vk fs-2"></i>
            </a>
            <a href="https://t.me/MEgaLovesKK" target="_blank" class="text-decoration-none text-light d-flex align-items-center">
                <i class="bi bi-telegram fs-3"></i>
            </a>
            <a href="https://instagram.com/_anastasia_wwww" target="_blank" class="text-decoration-none text-light d-flex align-items-center">
                <i class="bi bi-instagram fs-3"></i>
            </a>
        </div>
    </div>
</div>