<nav class="navbar navbar-light py-0">
  <div class="container d-flex justify-content-between">

    <ul class="navbar-nav d-flex flex-row gap-3 mb-0">
      {% for item in user_menu %}
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold d-flex align-items-center"
             href="{% if item.url_name %}{% url item.url_name %}{% if item.anchor %}#{{ item.anchor }}{% endif %}{% elif item.anchor %}#{{ item.anchor }}{% else %}/{% endif %}">
            <i class="{{ item.icon }} me-0 me-lg-1"></i>
            <span class="d-none d-lg-inline">{{ item.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="navbar-nav d-flex flex-row gap-3 mb-0">
      {% for item in admin_menu %}
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold d-flex align-items-center"
             href="{% if item.url %}{% url item.url %}{% else %}#{% endif %}">
            <i class="{{ item.icon }} me-0 me-lg-1"></i>
            <span class="d-none d-lg-inline">{{ item.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</nav>
